<%= link_to "new", new_id_attribute_path, class: "button" %>
<table class="table">
   <thead>
     <tr>
       <th>Id</th>
       <th>Display Name</th>
       <th>Type</th>      
       <th>Extender</th>
       <th>Actions</th>
     </tr>
   </thead>
   <tbody>
      <% @id_attrs.each do |attribute| %>
         <tr>
            <td>
               <%= attribute.name %>
            </td>
            <td><%= attribute.display_name %></td>
            <td><%= attribute.type %></td>
            <td><%= attribute.extender %></td>            
            <td>
               <%= link_to "Edit",  edit_id_attribute_path(attribute), class: "tiny button"%>               
            </td>
         </tr>
      <% end %>
   </tbody>
</table>